body {
  font-family: $general-font-family;
  font-size: 0;
  color: $text-main-color;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: top center;
}

//===================================================

.wrapper {
  width: 100%;
  min-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 100%;
  margin: 0 auto;

  @media screen and (min-width: $mobile) {
    width: 320px;
    padding: 0 10px;
  }

  @media screen and (min-width: $tablet) {
    width: 768px;
    padding: 0 10px;
  }

  @media screen and (min-width: $desktop) {
    width: 1200px;
    padding: 0 15px;
  }
}

._section {
  @media screen and (max-width: #{$tablet - 1}) {
    padding-top: 20px;
    padding-bottom: 110px;
  }

  @media screen and (min-width: $tablet) {
    padding-top: 25px;
    padding-bottom: 160px;
  }
}

._link {
  display: inline-block;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 2;
  color: inherit;
  transition: color $timing-function;

  &:hover,
  &:focus {
    color: $text-accent-color;
  }
}

._topic {
  display: inline-block;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 1.6;
  color: $text-accent-color;
}

._title-section {
  display: inline-block;
  font-family: $heading-font-family;
  font-weight: 900;
  font-style: normal;

  @media screen and (max-width: #{$tablet - 1}) {
    font-size: 40px;
    line-height: 1.2;
  }

  @media screen and (min-width: $tablet) {
    font-size: 56px;
    line-height: 1.1;
  }
}

._name {
  display: inline-block;
  font-family: $heading-font-family;
  font-weight: 900;
  font-style: normal;
  font-size: 24px;
  line-height: 1.3;
}

._text {
  @extend %text;
}

._text-grey {
  @extend %text;
  color: $text-add-color;
}

._text-big {
  @extend %text;
  font-size: 20px;
  line-height: 1.6;
}

._text-small {
  @extend %text;
  font-size: 14px;
  line-height: 1.7;
  color: $text-add-color;
}
