// @mixin breakpoint($size) {
//   @if $size == mobile {
//     @media screen and (min-width: $mobile) {
//       @content;
//     }
//   } @else if $size == tablet {
//     @media screen and (min-width: $tablet) {
//       @content;
//     }
//   } @else if $size == desktop {
//     @media screen and (min-width: $desktop) {
//       @content;
//     }
//   } @else if $size == non-tablet {
//     @media screen and (max-width: #{$tablet - 1}) {
//       @content;
//     }
//   } @else if $size == only-tablet {
//     @media screen and (min-width: $tablet) and (max-width: #{$desktop - 1}) {
//       @content;
//     }
//   } @else if $size == non-desktop {
//     @media screen and (max-width: #{$desktop - 1}) {
//       @content;
//     }
//   }
// }

@mixin centeredFlex($type: flex) {
  display: $type;
  justify-content: center;
  align-items: center;
}

@mixin adaptiv-value($property, $startSize, $minSize, $type) {
  $addSize: $startSize - $minSize;
  @if $type==1 {
    //только если меньше контейнера
    #{$property}: $startSize + px;
    @media (max-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(
        #{$minSize + px} + #{$addSize} *
          ((100vw - 320px) / #{$maxWidthContainer - 320})
      );
    }
  } @else if $type==2 {
    // только если больше контейнера
    #{$property}: $startSize + px;
    @media (min-width: #{$maxWidthContainer + px}) {
      #{$property}: calc(
        #{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320})
      );
    }
  } @else {
    #{$property}: calc(
      #{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320})
    );
  }
}
