$text-main-color: rgba(51, 51, 51, 1);
$text-accent-color: rgba(239, 99, 62, 1);
$btn-primary-color: #5dc4b8;
$btn-secondary-color: #ffffff;
$btn-border-color: rgba(93, 196, 184, 0.500198);
$heading-font-family: 'Elsie', cursive;
$general-font-family: 'Manrope', sans-serif;
$timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
