.app {
  background-image: url('./../images/application/app_background_mobile.png');
  background-size: 100% 869px;
  background-position: center top 32px;
  background-repeat: no-repeat;

  @media screen and (min-width: $tablet) {
    background-image: url('./../images/application/app_background_desktop.png');
    background-size: 100% 580px;
    background-position: right 40px top 0;
  }

  @media screen and (min-width: $desktop) {
    background-size: 100% 680px;
    background-position: right 40px top 0;
  }
}

.app__container {
  @media screen and (max-width: #{$tablet - 1}) {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 0 0 0 0;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: row-reverse;
    padding: 40px 0 0 0;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    padding: 88px 0 0 0;
  }
}

.app__content {
  &*:last-child {
    margin-bottom: 0;
  }

  @media screen and (max-width: #{$tablet - 1}) {
    display: flex;
    flex-direction: column;
    width: 270px + 55px;
    padding: 70px 30px 48px 25px;
  }

  @media screen and (min-width: $tablet) {
    width: 370px + 230px;
    padding: 0 100px 96px 130px;
  }

  @media screen and (min-width: $desktop) {
    padding: 0 30px 96px 100px;
  }
}

.app__topic {
  margin-bottom: 20px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 23px;
  }
}

.app__title {
  margin-bottom: 14px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 27px;
  }
}

.app__text {
  margin-bottom: 33px;
}

.app__btns {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.app__btn {
  min-width: 123px;
  padding: 15px 15px;

  & + & {
    margin-left: 4px;
  }
}

.app__img-container {
  @media screen and (max-width: #{$tablet - 1}) {
    max-width: 325px;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  @media screen and (min-width: $desktop) {
    flex: 1 1 auto;
  }
}

.app__img {
  border-radius: 80px 10px 10px 10px;
}
