.blog {
  padding: 120px 0 145px 0;

  @media screen and (min-width: $tablet) {
    padding: 130px 0 160px 0;
  }
}

.blog__content-block {
  display: flex;
  flex-direction: column;
  padding: 0 0 70px 0;
  text-align: center;

  @media screen and (min-width: $tablet) {
    margin: auto;
    padding: 6px 0 66px 0;
    width: 470px;
  }
}

.blog__topic {
  margin-bottom: 20px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 23px;
  }
}

.blog__title {
  margin-bottom: 14px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 11px;
  }
}

.blog__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 64px 0;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    justify-content: center;
    margin: -8px;
  }

  @media screen and (min-width: $desktop) {
    margin: -23px;
    padding: 0 0 90px 0;
  }
}

.blog__item {
  position: relative;
  padding: 265px 32px 39px 32px;
  width: 254px;
  height: 100%;
  background-color: white;
  box-shadow: 0px 24px 48px rgba(0, 24, 52, 0.080899);
  border-radius: 100px 24px 24px 24px;

  @media screen and (max-width: #{$tablet - 1}) {
    margin-left: 32px;

    &:nth-child(n + 2) {
      display: none;
    }
  }

  @media screen and (min-width: $tablet) {
    margin: 8px;
  }

  @media screen and (min-width: $desktop) {
    margin: 23px;
  }
}

.item-blog__photo {
  position: absolute;
  width: 254px;
  height: 272px;
  object-position: bottom;
  top: -32px;
  left: -16px;
  border-radius: 100px 24px 24px 24px;

  @media screen and (min-width: $tablet) and (max-width: #{$desktop - 1}) {
    left: -8px;
  }
}
