.btn-transparent {
  position: relative;
  @extend %btn;
  border: 1px solid $btn-border-color;
  color: $btn-text-color;
  background-color: transparent;

  &:after {
    position: absolute;
    content: '';
    left: -75px;
    top: -50px;
    height: 155px;
    width: 50px;
    background-color: $btn-text-color;
    opacity: 0.3;
    transform: rotate(35deg);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
  }
}

.btn-transparent:hover,
.btn-transparent:focus {
  &:after {
    left: 120%;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.btn-gradient {
  @extend %btn;
  border: none;
  color: $white-color;
  background-image: linear-gradient(
    to bottom,
    $btn-gradient-start-color,
    $btn-gradient-end-color
  );
}
