.features__container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.features__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 80px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 82px;
  }
}

.features__topic {
  margin-bottom: 20px;
}

.features__title {
  margin-bottom: 14px;
}

.features__list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    justify-content: center;
  }
}

.features__item {
  position: relative;
  padding: 153px 32px 54px 32px;
  width: 270px;
  text-align: center;
  box-shadow: 0px 24px 48px rgba(0, 24, 52, 0.080899);
  border-radius: 100px 24px 24px 24px;

  & + & {
    margin-top: 64px;

    @media screen and (min-width: $tablet) {
      margin-top: 0;
      margin-left: 32px;
    }
  }

  &:nth-child(2n) {
    @media screen and (min-width: $tablet) {
      margin-top: 50px;
    }
  }

  &:last-child {
    border-radius: 24px 24px 100px 24px;
  }

  *:last-child {
    margin-bottom: 0;
  }
}

@each $icon, $color1, $color2 in ('apple', #fff0ec, #ffddd4),
  ('bike', #e4fffc, #c5fff8), ('toque', #fff8ec, #ffefd4)
{
  .feature__icon.icon-#{$icon} {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-image: url('./../images/icons/icon-#{$icon}.svg'),
      linear-gradient(180deg, $color1 0%, $color2 100%);
    background-position: center;
    background-repeat: no-repeat;
  }
}

.feature__title {
  margin-bottom: 17px;
}

.feature__text {
  margin-bottom: 13px;
}
