.features {
  padding: 120px 0 145px 0;

  @media screen and (min-width: $tablet) {
    padding: 130px 0 160px 0;
  }
}

.features__content-block {
  display: flex;
  flex-direction: column;
  padding: 0 0 70px 0;
  text-align: center;

  @media screen and (min-width: $tablet) {
    margin: auto;
    padding: 6px 0 66px 0;
    width: 470px;
  }
}

.features__topic {
  margin-bottom: 20px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 23px;
  }
}

.features__title {
  margin-bottom: 14px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 11px;
  }
}

.features__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 64px 0;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    justify-content: center;
    margin: -16px;
  }

  @media screen and (min-width: $desktop) {
    padding: 0 0 90px 0;
  }
}

.features__item {
  position: relative;
  padding: 153px 32px 54px 32px;
  width: 270px;
  height: 100%;
  background-color: white;
  box-shadow: 0px 24px 48px rgba(0, 24, 52, 0.080899);
  border-radius: 100px 24px 24px 24px;
  text-align: center;

  & + & {
    @media screen and (max-width: #{$tablet - 1}) {
      margin-top: 64px;
    }
  }

  @media screen and (min-width: $tablet) {
    margin: 16px;
  }

  &:last-child {
    border-radius: 24px 24px 100px 24px;
  }

  *:last-child {
    margin-bottom: 0;
  }
  &:nth-child(2) {
    @media screen and (min-width: $tablet) {
      top: 50px;
    }
  }
}

@each $icon, $color1, $color2 in ('apple', #fff0ec, #ffddd4),
  ('bike', #e4fffc, #c5fff8), ('toque', #fff8ec, #ffefd4)
{
  .feature__icon.icon-#{$icon} {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-image: url('./../images/icons/icon-#{$icon}.svg'),
      linear-gradient(180deg, $color1 0%, $color2 100%);
    background-position: center;
    background-repeat: no-repeat;
  }
}

.feature__title {
  margin-bottom: 17px;
}

.feature__text {
  margin-bottom: 13px;
}
