.food-menu {
  padding: 120px 0 145px 0;
  background-image: url('./../images/backgrounds/background_oval.png');
  background-size: 223px;
  background-position: top 375px left 0;
  background-repeat: no-repeat;

  @media screen and (min-width: $tablet) {
    padding: 130px 0 160px 0;
    background-size: 420px;
    background-position: top 40px left 0;
  }
}

.food-menu__container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: center;
}

.food-menu__content-block {
  display: flex;
  flex-direction: column;
  padding: 0 0 70px 0;
  text-align: center;

  @media screen and (min-width: $tablet) {
    margin: auto;
    padding: 6px 0 66px 0;
    width: 470px;
  }
}

.food-menu__topic {
  margin-bottom: 20px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 23px;
  }
}

.food-menu__title {
  margin-bottom: 14px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 11px;
  }
}

.food-menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 64px 0;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    justify-content: center;
    margin: -8px;
  }

  @media screen and (min-width: $desktop) {
    margin: -23px;
    padding: 0 0 90px 0;
  }
}

.food-menu__item {
  position: relative;
  padding: 217px 32px 44px 32px;
  width: 270px;
  height: 100%;
  background-color: white;
  box-shadow: 0px 24px 48px rgba(0, 24, 52, 0.080899);
  border-radius: 100px 24px 24px 24px;

  @media screen and (max-width: #{$tablet - 1}) {
    margin-left: 32px;

    &:nth-child(n + 2) {
      display: none;
    }
  }

  @media screen and (min-width: $tablet) and (max-width: #{$desktop - 1}) {
    margin: 15px;

    &:nth-child(n + 3) {
      display: none;
    }
  }

  @media screen and (min-width: $desktop) {
    margin: 23px;
  }
}

.menu-dish__photo {
  position: absolute;
  width: 254px;
  height: 224px;
  object-position: bottom;
  top: -32px;
  left: -16px;
  border-radius: 100px 24px 24px 24px;
}

.menu-dish__thumb {
  display: flex;
  flex-direction: column;
}

.menu-dish__name {
  margin-bottom: 10px;
}

.menu-dish__stars {
  display: flex;
}

.menu-dish__icon-star {
  & + & {
    margin-left: 5px;
  }
}

.menu-dish__price {
  position: absolute;
  right: 32px;
  bottom: -16px;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-image: linear-gradient(180deg, #e4fffc 0%, #c5fff8 100%);
}

.menu-dish__pagination {
  text-align: center;
  margin-bottom: 50px;
}

.menu-dish__icon-oval {
  & + & {
    margin-left: 18px;
  }
}

.food-menu__btn {
  margin-bottom: 72px;
}

.food-menu__category {
  text-align: center;
}

.category-menu__title {
  margin-bottom: 72px;
}

.category-menu__list {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    justify-content: center;
    margin: -15px;
  }

  @media screen and (min-width: $desktop) {
    margin: -23px;
    padding: 0 0 90px 0;
  }
}

.category-menu__item {
  @media screen and (max-width: #{$tablet - 1}) {
    & + & {
      margin-top: 48px;
    }
  }

  @media screen and (min-width: $tablet) {
    margin: 15px;
  }

  @media screen and (min-width: $desktop) {
    margin: 23px;
  }
}

@each $icon, $color1, $color2 in ('grape', #fff0ec, #ffddd4),
  ('dish', #e4fffc, #c5fff8), ('cake', #fff8ec, #ffefd4),
  ('wineglass', #fff0ec, #ffddd4)
{
  .category-menu__item.icon-#{$icon} {
    position: relative;
    padding: 122px 54px 38px;
    width: 170px;
    text-align: center;
    border-radius: 50px 24px 24px 24px;
    background-image: linear-gradient(180deg, $color1 0%, $color2 100%);
  }

  .icon-#{$icon} .category-menu__icon {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background-color: white;
    background-image: url('./../images/icons/icon-#{$icon}.svg');
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 8px 48px rgba(0, 24, 52, 0.080899);
  }
}

// .category-menu__item:not(:nth-child(-n - 2)) {
//   margin-bottom: 48px;
// }
