.gallery {
  padding-top: 94px;
  padding-bottom: 83px;
  background-image: url('./../images/gallery_background_mobile.png');
  background-size: 375px;
  background-position: center top 0;
  background-repeat: no-repeat;

  // @media screen and (min-width: $tablet) {
  //   padding-top: 178px;
  //   padding-bottom: 85px;
  //   background-image: url('./../images/about_collage.png'),
  //     url('./../images/about_background.png');
  //   background-size: 570px, 1305px;
  //   background-position: left 135px top 0, left 0 top 48px;
  //   background-repeat: no-repeat;
  // }
}

.gallery-content {
  @media screen and (max-width: #{$tablet - 1}) {
    padding-left: 30px;
    padding-bottom: 80px;
    width: 270px;
  }
  // @media screen and (min-width: $tablet) {
  //   width: 400px;
  //   margin-left: auto;
  //   margin-bottom: 270px;
  // }
}

.gallery-topic {
  @extend %topic;
  margin-bottom: 20px;
}

.gallery-title {
  @extend %title-h3;
  margin-bottom: 14px;
}

.gallery-text {
  @extend %text-big;
  margin-bottom: 33px;
}
