.gallery {
  padding: 83px 0 83px 0;
  background-image: url('./../images/backgrounds/background_left_mobile.png');
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;

  @media screen and (min-width: $tablet) {
    padding: 60px 0 60px 0;
    background-image: url('./../images/backgrounds/background_left_desktop.png');
    background-size: 100% 100%;
    background-position: left 30px top 0;
  }

  @media screen and (min-width: $desktop) {
    padding: 80px 0 80px 0;
    background-position: left 80px top 0;
  }
}

.gallery__container {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: row;
  }

  @media screen and (min-width: $desktop) {
    position: relative;
  }
}

.gallery__content {
  &*:last-child {
    margin-bottom: 0;
  }

  @media screen and (max-width: #{$tablet - 1}) {
    padding: 7px 0 48px 30px;
  }

  @media screen and (min-width: $tablet) {
    flex: 0 0 350px;
    padding: 24px 30px 16px 50px;
  }

  @media screen and (min-width: $desktop) {
    flex: 0 0 400px;
    padding: 24px 30px 16px 100px;
  }
}

.gallery__topic {
  margin-bottom: 20px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 23px;
  }
}

.gallery__title {
  margin-bottom: 14px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 27px;
  }
}

.gallery__text {
  margin-bottom: 33px;
}

.pagination-gallery__btn {
  width: 48px;
  height: 48px;
  border: 1px solid $btn-border-color;
  border-radius: 50%;
  background-color: transparent;
  transition: all $timing-function;

  &:hover,
  &:focus {
    background-color: $btn-border-color;
    fill: $white-color;
  }
}

.pagination-gallery__numbers {
  padding: 0 16px;
}

.gallery__img-container {
  border-radius: 80px 10px 10px 10px;
  overflow: hidden;

  @media screen and (min-width: $tablet) {
    flex: 1 1 100%;
  }

  @media screen and (min-width: $desktop) {
    position: absolute;
    top: -160px;
    right: 15px;
  }
}
