.hero {
  @media screen and (max-width: #{$tablet - 1}) {
    padding: 100px 0 80px 0;
    background: url('./../images/backgrounds/hero_oval_mobile.png');
    background-size: 280px;
    background-position: top 0 right 0;
    background-repeat: no-repeat;
  }

  @media screen and (min-width: #{$tablet}) {
    padding: 175px 0 80px 0;
    background-image: url('./../images/backgrounds/hero_oval.png');
    background-size: 570px;
    background-position: top 0 right 0;
    background-repeat: no-repeat;
  }
}

.hero__container {
  display: flex;
  height: 100%;

  @media screen and (max-width: #{$tablet - 1}) {
    flex-direction: column-reverse;
    align-items: center;
  }

  @media screen and (min-width: #{$tablet}) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  *:last-child {
    margin-bottom: 0;
  }

  @media screen and (max-width: #{$tablet - 1}) {
    padding: 0 0 0 25px;
    flex: 1 1 auto;
  }

  @media screen and (min-width: #{$tablet}) {
    width: 380px;
    padding: 0 10px 0 0;
    margin-right: 50px;
  }

  @media screen and (min-width: $desktop) {
    width: 480px;
    margin-right: 100px;
  }
}

.hero__topic {
  @media screen and (max-width: #{$tablet - 1}) {
    margin-bottom: 23px;
  }

  @media screen and (min-width: #{$tablet}) {
    margin-bottom: 26px;
  }
}

.hero__title {
  @media screen and (max-width: #{$tablet - 1}) {
    margin-bottom: 9px;
    font-size: 56px;
    line-height: 1.1;
  }

  @media screen and (min-width: $tablet) {
    margin-bottom: 22px;
    font-size: 60px;
    line-height: 1.1;
  }

  @media screen and (min-width: $desktop) {
    font-size: 72px;
    line-height: 1.1;
  }
}

.hero__text {
  @media screen and (max-width: #{$tablet - 1}) {
    margin-bottom: 16px;
  }

  @media screen and (min-width: #{$tablet}) {
    margin-bottom: 36px;
  }
}

.hero__video {
  display: flex;
  height: auto;

  @media screen and (max-width: #{$tablet - 1}) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: #{$tablet}) {
    flex: 1 1 50%;
  }
}
