.reviews__container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: center;
}

.reviews__content-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 85px 0 50px 0;

  @media screen and (min-width: $tablet) {
    margin-bottom: 82px;
    width: 470px;
  }
}

.reviews__topic {
  @media screen and (max-width: #{$tablet - 1}) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: $tablet) {
    margin-bottom: 23px;
  }
}

.reviews__title {
  @media screen and (max-width: #{$tablet - 1}) {
    margin-bottom: 14px;
  }

  @media screen and (min-width: $tablet) {
    margin-bottom: 11px;
  }
}

.reviews__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 94px 0;

  @media screen and (max-width: #{$tablet - 1}) {
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    justify-content: center;
    margin: -12px;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row;
    margin: -15px;
  }
}

.reviews__item {
  position: relative;
  padding: 74px 32px 38px;
  width: 270px;
  background-color: white;
  box-shadow: 0px 24px 48px rgba(0, 24, 52, 0.080899);
  border-radius: 100px 24px 24px 24px;

  @media screen and (max-width: #{$tablet - 1}) {
    &:nth-child(n + 2) {
      display: none;
    }
  }

  @media screen and (min-width: $tablet) {
    margin: 12px;
  }

  @media screen and (max-width: #{$desktop - 1}) {
    &:nth-child(n + 3) {
      display: none;
    }
  }

  @media screen and (min-width: $desktop) {
    margin: 15px;
  }
}

.article-review__text {
  margin-bottom: 37px;
}

.article-review__icon-star {
  margin-bottom: 10px;

  & + & {
    margin-left: 5px;
  }
}

.article-review__user {
  position: absolute;
  right: 32px;
  bottom: -16px;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.article-review__user-photo {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  object-position: center;
}
