.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav {
  display: flex;
}

.logo {
  margin-right: 60px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: $heading-font-family;
  font-weight: 900;
  font-style: normal;
  font-size: 40px;
  line-height: 1.2;
  color: $text-main-color;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-item {
  position: relative;
}

.nav-item:not(:last-child) {
  margin-right: 40px;
}

.nav-link {
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: $general-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
  color: $text-main-color;

  &:hover,
  &:focus {
    color: $text-accent-color;
  }
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: $text-accent-color;
  transform: scaleX(0);
  transition: transform $timing-function;

  .nav-link:hover::after,
  .nav-link:focus::after {
    transform: scaleX(1);
  }
}

.contact-btn {
  display: inline-block;
  min-width: 154px;
  padding: 15px 25px;
  border: 1px solid rgba(93, 196, 184, 0.500198);
  border-radius: 12px;
  font-family: $heading-font-family;
  font-weight: 900;
  font-style: normal;
  font-size: 16px;
  line-height: 1.15;
  color: $btn-primary-color;
  background-color: transparent;
  text-transform: uppercase;
}
