.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $mobile) {
    width: 375px;
    padding-left: 22.5px;
    padding-right: 22.5px;
  }

  @media screen and (min-width: $tablet) {
    width: 768px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media screen and (min-width: $desktop) {
    width: 1280px;
    padding-left: 55px;
    padding-right: 55px;
  }
}
